body {
	background-color: rgb(60,60,60);
	font-family: "Times New Roman";
	color: rgb(66,66,66);
	text-align: "center";
}

a:link {
	color: white;
}
a:visited {
	color:white;
}
a:hover	{
	color:red;
	text-decoration: underline;
}
a:active {
	color: rgb(0,101,153);
}
h1 {
	font-size: 200%;
}

h3 {
	text-align: center;
}

img {
	width: 200px;
	height: 256px;
	margin: 10px;
	border: 2px solid black;
	float: left;
}
p {
	line-height: 50px;
	padding: 10px;
}
p.list {
	text-align: center;
	margin: 10px;
}

ul.list {
	text-align: left;
}

ul.menu {
  	height: auto;
    padding: 8px 0px;
    margin: 0px;
}
li.menu {
	display: inline;
	padding: 20px;
	color: white;
	font-size: 200%;
	text-shadow: 2px 2px 2px rgba(255,255,255,0.8);
}
.container {
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
	border: 2px solid black;
}

.main {
	background-color: rgb(255, 255, 255);
	width: 1000px;
	height: 100%;
	position: relative;
}

.menu {
	width: 1000px;
	height: 50px;
	position: relative;
	border-bottom: 5px solid rgb(0,101,153);
	text-align: center;
}

.middle {
	width: 1000px;
	height: 200px;
	line-height: 200px;
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, 
					color-stop(0%,rgb(23,125,187)), 
					color-stop(50%,rgb(0,101,153)), 
					color-stop(100%,rgb(23,125,187)));
	background: -moz-linear-gradient(90deg, rgb(23,125,187) 0%, rgb(0,101,153) 50%, rgb(23,125,187) 100%);
	background: linear-gradient(linear, left top, left bottom, 
					color-stop(0%,rgb(23,125,187)), 
					color-stop(50%,rgb(0,101,153)), 
					color-stop(100%,rgb(23,125,187)));
}

.name {
	text-align: center;
	font-size: 500%;
	color: white;
	text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.7);
}

.rightside {
	background-color: rgb(239, 239, 239);
	width: 200px;
	position: relative;
	float: right;
	margin: 10px;
	text-align: center;
}

.shadow {
	box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.7);
}

.bar {
	width: 1000px;
	height: 50px;
	position: relative;
	background-image:url("WoodFine0001_1_S.jpg");
	z-index: 1;
	text-align: center;
	font-size: 80%;
	overflow: hidden;
}
